*.pyc
**/*.pyc
.env
**/*.db
.roo
*.mdc
*.cmd
**/node_modules/
**/scripts/
**/tasks/
**/memory-bank/
**/docs/
**/.cursor/
*.json
.aider*
*.pyc
**/*.pyc
.env
**/*.db
.roo
*.mdc
*.cmd
**/node_modules/
**/scripts/
**/tasks/
**/memory-bank/
**/docs/
**/.cursor/
*.json
.aider*
